@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300;400;700&display=swap');

body, html {
  padding: 0;
  margin: 0;
  --color-primary: #00bcd4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sulphur Point', sans-serif;

}

*::selection {
  background: #f76a8c;
  color: #fff;
}

